.title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1A1718;
    margin-bottom: 7px;
    position: relative;
}
.title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 1px;
    min-width: 100%;
    background-color: #DEDBDC;
}
.bodyInputs {
    display: flex;
    margin-top: 31px;
    max-width: 940px;
    gap: 12px;
}
.bodyBtn{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 153px;
    height: 36px;
    background: transparent;
    border: 1px solid rgba(26, 23, 24, 1);
    color: #1A1718;
}