.selectWrapper{
    position: relative;
}
.option {
    cursor: pointer;
    background: #f7f5f5;
    outline: none;
}

.option:hover {
    background: #f7f5f5;
}
.select {
    background: transparent;
    width: 256px;
    height: 36px;
    outline: none;
    border: 1px solid #DEDBDC;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 142%;
    color: #1A1718;
    appearance: none;
    padding: 6px 0 6px 12px;
}

.arrowUp {
    position: absolute;
    right: 12px;
    top: 6px;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
}
.arrowDown {
    position: absolute;
    right: 12px;
    top: 6px;
    width: 24px;
    height: 24px;
}